.dots-stagger-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Above circles, below map */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Allow clicks to pass through */
  /* Grid layout will be handled by absolute positioning of dots */
}

.dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0; /* Start invisible, will fade in via animation */
  transform: scale(1) translate(0, 0);
  transform-origin: center center;
}

