.dots-stagger-container {
  position: absolute;
  z-index: 2; /* Above circles, below map */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
}

