.map3d-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; /* Behind circles (z-index: 1) */
}

.map3d-container canvas {
  width: 100% !important;
  height: 100% !important;
}

