.map3d-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3; /* Above circles and dots */
}

.map3d-container canvas {
  width: 100% !important;
  height: 100% !important;
}

